body {
    background-image: url(images/tło.jpg);
    background-size: cover;
    background-position: center center;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


style


#srodek {
    width: 10040px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo {
    background-color: wheat;
    text-align: center;
    padding: 10px;
    width: 970px;
}

#navi {
    float: left;
    color: black;
    width: 150px !important;
    background-color: wheat;
    padding: 10px;
}

#content {
    float: left;
    padding: 20px;
    width: 780px !important;
    background-color: whitesmoke;
    color: black;
    
}
#widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#stopka {
    clear: both;
    
    color: black;
    text-align: center;
    padding: 20px;
}

/*Nieodwiedzone hiperłącze*/
a:link {
    color: black;
}
/*Odwiedzone hiperłącze*/
a:visited {
    color: mediumpurple;
}
/*Link po najechaniu kursorem*/
a:hover {
    color: red;
}

h2 {
    text-align: center;
}
